* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #205375;
  color: #112b3c;
}

body {
  background-color: #205375;
  color: #112b3c;
}
/* Navbar */
.navbar-nav {
  float: none;
  margin: auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
  padding-left: 1em;
  padding-right: 1em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  background-color: #efefef;
  width: 100%;
  height: 40vh;
  text-align: center;
}

#about {
  height: 100%;
  padding-bottom: 5em;
}

#portfolio {
  height: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

#contact {
  height: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

#headshot {
  border-radius: 50%;
  height: 20em;
  margin-top: 5em;
  margin-bottom: 5em;
}

@media (max-width: 700px) {
  #headshot {
    margin-bottom: 2em;
  }

  #about {
    padding-top: 1em;
  }
}
